* {
    margin: 0;
    padding: 0;
    border: 10cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: rgb(38, 37, 37);
    color: white
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 10px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

.logo {
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: blue;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.contenido {

    max-width: 600px;
}

.contenido h1 {
    font-size: 30px;
    font-weight: 700;
}

.contenido h3 {
    font-size: 26px;
    font-weight: 700;
    color: #00abf0;
}

.contenido p {
    font-size: 16px;
    margin: 20px 0 40px;
}


.sci {
    
    position: absolute;
    width: 170px;
    bottom: 40px;
}

.sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

sci a:hover {
    color:#081b29;
}

.sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: 1;
    transition: .5s;
}
